* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #141414;
}
header {
  background: black;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 42px;
  color: rgb(153, 153, 153);
  min-width: 980px;
  font-size: 14px;
}

nav img {
  height: 24px;
}
nav #perfil{
  border-radius: 50%;
}

nav > span {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div img {
  height: 40px;
  margin-left: 8px;
}

.post_list {
  width: 700px;
  margin: 0 auto 20px;
}


.post {
  margin-top: 20px;
  border-radius: 8px;
  background:#0c0c0c;
  padding: 20px;
  color: rgb(205, 205, 205);
  line-height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 14px;
}

.post-header .details span:first-child {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: bold;
  margin-bottom: 3px;
}

.avatar {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post-content {
  margin-top: 15px;
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.post-comments {
  margin-top: 20px;
}

.comment {
  margin-top: 20px;
  display: flex;
}

.comment p {
  border-radius: 20px;
  background: #2f2f2f;
  margin-left: 10px;
  padding: 15px;
  font-size: 13px;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}

.bt {
  border:1px solid #25692A;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
  }

.bt-az {
  border-color:#46a7f5;
  background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
  box-shadow:inset 0px 1px 0px 0px #d7ecfd;
  color:#fff;
  text-shadow:0px 1px 0px #528009;  
  }

.bt-az:hover {
  background:linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
  }

.bt:active {
  position:relative;
  top:2px;}

.bPostar {
  width: 100%;
  }

#createPost h3{
  text-align: center;
}

input {
  width: 100%;
  height: 70px;
  font-size: 25px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #333333;    
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: #cccccc; 
  border:1px solid #000000;
}
